<div class= "d-flex justify-content-center">
<div class=  "social-share-button">
<%= rails_social_share_button_tag('Share to Facebook', url: home_index_path , desc: "Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>
</div>
</div>
<div style = "margin-top = 50px">
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
<ol class="carousel-indicators">
<li data-target="#carousel" data-slide-to="0" class=""></li>
<li data-target="#carousel" data-slide-to="1" class=""></li>
<li data-target="#carousel" data-slide-to="2" class="active"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="carousel-item">
<a href="https://bootstrapcreative.com/">

<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/#007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familiaLatina.jpg" , class: "img" %></div>
</picture>

</a>
</div>

<div class="carousel-item">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familyPhoto.jpg", class: "img" %></div>
</picture>
</a>
</div>

<div class="carousel-item active">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familia.jpg" , class: "img"%></div>
</picture>
</a>
</div>


 
<div class="container">
    
<div class="col-sm-9 sm-auto" style ="margin-top: 10%" >
    <div class= "col-sm">
       <h3>COVID-19 Casos Confirmados en el estado de Pensylvannia</h3> 
       <h5>Mapa por condado</h5>
    </div>
    <iframe src="https://www.google.com/maps/d/embed?mid=1lpLPPrltIuVkwFtXhoWdWEA4B1DvNmne" width="100%" height="600px">
    </iframe>
</div>

</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</br>


<div class = "container"  align="center" >
     
    <div class="row">
        <div class = "col-sm-12 col-md-12">
            <div class="hovereffect">
                     <%= link_to(image_tag("radio_image.jpg" ,  class:"img-fluid", style:"width:100%"))  %>
                    <div class="overlay mt-3">
                       <h2> Radio Monday-Friday 8-9:00 am y 8-9:00 pm</h2>
                    </div>
            </div>
            <a class="info" ><%= link_to " Radio Click here !", home_radio_path, style: "font-size:30px; color:white" %> </a>
        </div>
         
        <div class = "col-sm-12 col-md-12  mt-5">
            <div class="hovereffect">
                     <%= link_to(image_tag("tv.jpg" ,  class:"img-fluid"))  %>
                    <div class="overlay mt-3">
                       <h2> You Tube</h2>
                       
                    </div>
            </div>
        <a class="info" ><%= link_to "TV Click here !", home_radio_path, style: "font-size:30px; color:white" %></a>
        </div>
        
        
        <div class = "col-sm-12 col-md-12 mt-5">
          
            <div class="hovereffect">
                     <%= link_to(image_tag("https://cdn.martinbaileyphotography.com/wp-content/uploads/2019/08/MBP_Podcast_20190718_MR27892.jpg" , class:"img-fluid" ), uploads_index_path)  %>
                    <div class="overlay mt-9">
                       <h2> Audios y podcasts de Orientacion Familiar</h2>
                          
                    </div>
             </div>
        <a class="info" ><%= link_to "Audio Podcats Click here !", uploads_index_path, style: "font-size:30px; color:white" %></a>
        </div>
    
    </div>
    
</div>

<body>
<div class = "container" align="center"   >
<!-- Secciones -->

            <ul>
                <div class="row" style = "margin-top: 15%;" >
                    <div class="test col-sm-3">
                        <figure >
                            <%= link_to image_tag "f_mes.jpg", class:"testimonial-thumb"  %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">
                                La Familia Del Mes
                            </h3>
                        </aside>
                    </div>
                    <div class="test col-sm-3">
                        <figure >
                            <%= link_to image_tag "mejores_padres.jpg" , class:"testimonial-thumb"%>
                            
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Escuela Para Mejores Padres</h3>

                        </aside>
                    </div>
                    <div class="test col-sm-3">
                        <figure >
                           <%= link_to image_tag "intimidad.jpg",  class:"testimonial-thumb" %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">En Intimidad Con La Pareja</h3>

                        </aside>
                    </div>
                    <div class="test col-sm-3">
                        <figure >
                           <%= link_to image_tag "diciplina.jpg" ,  class:"testimonial-thumb" %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Como diciplinar a nuestros hijos</h3>

                        </aside>
                    </div>
                    <div class="test  col-sm-4">
                        <figure >
                           <%= link_to image_tag "reflexion.jpg",  class:"testimonial-thumb"%>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Reflexion para la vida familiar</h3>

                        </aside>
                    </div>
                    <div class="test col-sm-4">
                        <figure>
                           <%= link_to image_tag "familia_y_salud.jpg" ,  class:"testimonial-thumb"%>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">La familia y la salud</h3>

                        </aside>
                    </div>
                    <div class="test  col-sm-4">
                        <figure>
                           <%= link_to image_tag "saludSicologica.jpg" ,  class:"testimonial-thumb" %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">La sicologia y la salud</h3>

                        </aside>
                    </div>
                </div>
            </ul>
      

</div> 


<script src="https://apps.elfsight.com/p/platform.js" data-turbolinks-permanent>

</script>

</body>






