<div class= "d-flex justify-content-center">
<div class=  "social-share-button">
    <%= rails_social_share_button_tag(request.original_url + "  Orientacion Familiar una guia para el hogar / Home page", url: request.original_url, desc: "Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu Home page") %>


      <a href="#" class= "share-button"><%= image_tag("http://aux2.iconspalace.com/uploads/sharethis-icon-256-1927422772.png", class:" share-button ssb-icon  translation-missing", ) %></a>
      <button class="share-button  ssb-icon" type="button" title=" ">
    <svg>
      <use ><%= image_tag("http://aux2.iconspalace.com/uploads/sharethis-icon-256-1927422772.png") %></use>
    </svg>
    <span>Share</span>
  </button>
 
   

</div>
</div>
<div style = "margin-top = 45px">
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
<ol class="carousel-indicators">
<li data-target="#carousel" data-slide-to="0" class=""></li>
<li data-target="#carousel" data-slide-to="1" class=""></li>
<li data-target="#carousel" data-slide-to="2" class="active"></li>
</ol>
<div class="carousel-inner" role="listbox">

<div class="carousel-item">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/#007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familiaLatina.jpg" , class: "img" %></div>
</picture>

</a>
</div>

<div class="carousel-item">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familyPhoto.jpg", class: "img" %></div>
</picture>
</a>
</div>

<div class="carousel-item active">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familia.jpg" , class: "img"%></div>
</picture>
</a>
</div>

<div class="col-sm-9 sm-auto" style ="margin-top: 60%" >
    <div class= "col-sm">
       <h3 style= "color:white">Mapa mundial de casos confirmados de COVID-19 hasta la fecha. </h3> 
    </div>
    <iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map&year=2020-04-14" style="width: 100%; height: 600px; border: 0px none;"></iframe>
    </iframe>
</div>



<div class = "container"  align="center" >

    <div class="row">

        <div class = "col-sm-12 col-md-12 mt-5 ">
            <h2><%= link_to 'Escuchanos en vivo de Lunes a Viernes de 7:00 am a 8:00am y 7:00 pm a 8:00 pm  !', home_radio_path, style:"color:white" %></h2>
            <div class="">
                     <%= link_to(image_tag("radio_image.jpg" ,  class:"img-fluid", style:"width:100%; border-radius: 25px;"), home_radio_path )  %>
                    <div class="overlay" style = "margin-top:45px">
                       <h2><%= link_to 'Orientacion Familiar Una Guia para el Hogar !', home_radio_path, style:"color:white" %></h2>
                    </div>
            </div>
            
        </div>

        <div class = "col-sm-12 col-md-12" style = "margin-top:20%" >
            <h2><%= link_to ' Estamos en Youtube ! Orientacion Familiar TV !', home_radio_path, style:"color:white" %></h2>
            <div class="">
                     <%= link_to(image_tag("tv.png" ,  class:"img-fluid  ", style:"width:100%;   border-radius: 25px;"), home_radio_path )  %>
                    <div class="overlay" style = "margin-top:45px">
                       <h2><%= link_to 'Click para ir a Orientacion Familiar TV !', home_radio_path, style:"color:white" %></h2>
                    </div>
            </div>
            
        </div>
         
        <div class = "col-sm-12 col-md-12 mt-5 ">
            <h2><%= link_to 'Escucha nuestros audios en cualquier momento y desde cualquier dispositivo !', uploads_index_path, style:"color:white; display:inline-block; margin-top: 15%" %></h2>
            <div class="">
                     <%= link_to(image_tag("https://images.squarespace-cdn.com/content/v1/5615b7a4e4b05e4f5e8070da/1518379790417-42DFHOBCGCQ783EF9CXI/ke17ZwdGBToddI8pDm48kBXrJdfsMRHKueQcE3YThXxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzYkoUKubKpj3pxbyi0I5i6Xo1G_h2l_OWnXNaCdTo5FXmVWEEVQ6Z8Ep_G7sHlb8g/Headphone+selfie.jpg?" ,  class:"img-fluid ", style:"width:100%;height:500px; margin-top:2%; border-radius: 25px;"), uploads_index_path )  %>
                    <div class="overlay" style = "margin-top:45px;">
                       <h2><%= link_to 'Click para ir a Orientacion Familiar Audio podcats y Reflexiones', uploads_index_path, style:"color:white" %></h2>
                    </div>
            </div>
            
        </div>
        
        
    
    </div>
    
</div>

<body>
<div class = "container" align="center"   >
<!-- Secciones -->
            <ul>
                <div class="row" style = "margin-top: 15%;" >
                    <div class="test col-sm-3">
                        <figure >
                            <%= link_to image_tag "f_mes.jpg", class:"testimonial-thumb"  %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">
                                La Familia Del Mes
                            </h3>
                        </aside>
                    </div>
                    <div class="test col-sm-3">
                        <figure >
                            <%= link_to image_tag "mejores_padres.jpg" , class:"testimonial-thumb"%>
                            
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Escuela Para Mejores Padres</h3>

                        </aside>
                    </div>
                    <div class="test col-sm-3">
                        <figure >
                           <%= link_to image_tag "intimidad.jpg",  class:"testimonial-thumb" %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">En Intimidad Con La Pareja</h3>

                        </aside>
                    </div>
                    <div class="test col-sm-3">
                        <figure >
                           <%= link_to image_tag "diciplina.jpg" ,  class:"testimonial-thumb" %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Como diciplinar a nuestros hijos</h3>

                        </aside>
                    </div>
                    <div class="test  col-sm-4">
                        <figure >
                           <%= link_to image_tag "reflexion.jpg",  class:"testimonial-thumb"%>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Reflexion para la vida familiar</h3>

                        </aside>
                    </div>
                    <div class="test col-sm-4">
                        <figure>
                           <%= link_to image_tag "familia_y_salud.jpg" ,  class:"testimonial-thumb"%>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">La familia y la salud</h3>

                        </aside>
                    </div>
                    <div class="test  col-sm-4">
                        <figure>
                           <%= link_to image_tag "saludSicologica.jpg" ,  class:"testimonial-thumb" %>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">La sicologia y la salud</h3>

                        </aside>
                    </div>
                </div>
            </ul>
      

</div> 


<script src="https://apps.elfsight.com/p/platform.js" data-turbolinks-permanent>

</script>


<script>


  const shareButton = document.querySelector('.share-button');

  shareButton.addEventListener('click', event => {
    if (navigator.share) { 
     navigator.share({
        title: 'https://codepen.io/ayoisaiah/pen/YbNazJ' ,
        url: 'https://codepen.io/ayoisaiah/pen/YbNazJ'
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
      } else {

      }
  });

</script>
</body>






