<p id="notice"><%= notice %></p>

<h1> Articulos de Orientacion Familiar</h1>
    <div class= "d-flex justify-content-center">
    <div class=  "social-share-button">
    <%= rails_social_share_button_tag('Share to Facebook', url: root_path, desc: "Orientacion Familiar Una Guia Para El Hogar") %>
    </div>
    </div>
<br>

<div class= "row" style= "color:black">
<% @posts.each do |post| %>
    <div class = "col sm-6">
    <div class="card " style="width: 18rem; flex:left">
        <%= link_to post do %>
           <%= image_tag  post.main_image_post_url,  class: "card-img-top" %>
        <% end %>
        <div class="card-body">
        <h5 class="card-title"><%= post.main_title %></h5>
        <p class="card-text"><%= post.main_content.truncate(150) %></p>
                <div class="author">
                 <%= 'By: ' + post.author %>
                </div>
        </div>        
    </div>
                    <%= link_to 'Leer', post %>
                    <% if current_user == post.user %>
                    <%= link_to 'Editar', edit_post_path(post) %>
                    <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
       </div>            
    <% end %>
    </div>
    <div class = "col sm-12">
        <%= link_to 'Postear nuevo Art  ', new_post_path %> | | <%= link_to 'Volver a inicio', root_path %> 
    </div>



</div>


    <div style= "justify-content: center">
  
   </div>




