<p id="notice"><%= notice %></p>

<h1 style= "color:white"> Articulos de Orientacion Familiar</h1>
    <div class= "d-flex justify-content-center">
    <div class=  "social-share-button mb-5">
    <h2 style= "color:white"> Comparte nuestro contenido en todas las redes sociales  </h2>
    <h3 style= "color:white"> con solo un click ! </h3>
    <a href=""><%= image_tag("https://cdn0.iconfinder.com/data/icons/social-network-7/50/5-512.png", class:" share-button ssb-icon") %></a>
    <%= rails_social_share_button_tag( request.original_url + " " + 'Articulos Interesantes', url: request.original_url, desc: " Escucha nuestros Audios y podcasts de Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>

  </div>
    </div>
<br>

<div class= "row" style= "color:black">
<% @posts.each do |post| %>
    <div class = "col sm-6">
    <div class="card " style="width: 18rem; flex:left">
        <%= link_to post do %>
           <%= image_tag  post.main_image_post_url,  class: "card-img-top" %>
        <% end %>
        <div class="card-body">
        <h5 class="card-title"><%= post.main_title %></h5>
        <p class="card-text"><%= post.main_content.truncate(150) %></p>
                <div class="author">
                 <%= 'By: ' + post.author %>
                </div>
        </div>        
    </div>
                    <%= link_to 'Leer', post %>
                    <% if current_user == post.user %>
                    <%= link_to 'Editar', edit_post_path(post) %>
                    <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
       </div>            
    <% end %>
    </div>
    <div class = "col sm-12">
        <h3 style = "color:white"><%= link_to 'Postear nuevo Articulo  ', new_post_path, style:"color:white" %>  ||  <%= link_to 'Volver a inicio', root_path, style:"color:white" %> </h3>
    </div>



</div>



<script>


  const shareButton = document.querySelector('.share-button');

  shareButton.addEventListener('click', event => {
    if (navigator.share) { 
     navigator.share({
        title: ' Articulos Orientacion Familiar una Guia para el Hogar',
        url: '<%= request.original_url %>'
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
      } else {

      }
  });

</script>
   




