  <head>
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articulos y posts de Orientacion Familiar</title>
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://orifamiliar.s3.amazonaws.com/audio+podcast.jpg" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
  </head>
<body>
<div class=  "social-share-button mb-5">
    <h2 style= "color:white"> Comparte nuestro contenido en todas las redes sociales  </h2>
    <h3 style= "color:white"> con solo un click ! </h3>
  <a href=""><%= image_tag("https://cdn0.iconfinder.com/data/icons/social-network-7/50/5-512.png", class:" share-button ssb-icon") %></a>
    <%= rails_social_share_button_tag( request.original_url + " " + 'Audio podcasts', url: request.original_url, desc: " Escucha nuestros Audios y podcasts de Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>

</div>

<h1 style= "color:white">Seleccione de la lista para reproducir </h1>
<div class="container">
  <div class= "row">
  <% @uploads.each do |upload| %>
    <div class="col-sm-3 col-md-3">
              <%= link_to(image_tag("https://cdn.martinbaileyphotography.com/wp-content/uploads/2019/08/MBP_Podcast_20190718_MR27892.jpg" , style:"border-radius:50px; height:150px; margin-top:20%; position:flex; "), upload)  %>
	              
              <%= link_to upload.title ,upload, {:style=>'color:#FFFFFF; display: block;font-weight: 895;'} %>
              
    </div>
     <% end %>
  </div>
 

  </div>
  </br>
  <% if current_user && current_user.admin? %>
  <%= link_to 'Subir Nuevo Audio Postcast',  new_upload_path, style:"color:white;font-size:25px" %>
  <% end %>


<script>


  const shareButton = document.querySelector('.share-button');

  shareButton.addEventListener('click', event => {
    if (navigator.share) { 
     navigator.share({
        title: 'Orientacion Familiar una Guia para el Hogar TV, RADIO, AUDIOS , Terapia familiar, individual y mas',
        url: '<%= request.original_url %>' 
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
      } else {

      }
  });

</script>



</body>


