<h1>Podcasts</h1>
<p>Grabaciones</p>
<%= form_tag uploads_path , enctype: 'multipart/form-data' do %>
	<%= file_field_tag :file  %>
	<%= submit_tag 'Upload file' %>
	<%=  field_set_tag :title %>
	<%= text_field_tag :title  %>
	<%=  field_set_tag :description %>
	<%= text_field_tag :description  %>
<% end %>

</br>
<%= link_to "Ir a todas las grabaciones y podcats", uploads_index_path %>

