  <head>
    <meta charset= "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articulos y posts de Orientacion Familiar</title>
    <meta property="og:title" content="<%= @upload.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= @upload.description %>" />
    <meta property="og:site_name" content="<%= @upload.title %>" />
  </head>
<div class= "d-flex justify-content-center">
<div class=  "social-share-button">
  <h2 style= "color:white"> Comparte nuestro contenido en todas las redes sociales  </h2>
    <h3 style= "color:white"> con solo un click ! </h3>
  <a href=""><%= image_tag("https://cdn0.iconfinder.com/data/icons/social-network-7/50/5-512.png", class:" share-button ssb-icon") %></a>
    <%= rails_social_share_button_tag(request.original_url + "  " + @upload.title , url: request.original_url + "  " + @upload.title, desc: @upload.title + " Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>
</div>
</div>
</div>
<h1>Orientacion Familiar Podcasts</h1>
<html>
<head>
	<p>	<%= @upload.title %></p>
	<title>Audio Player</title>
</head>
<body>
	<script>


  const shareButton = document.querySelector('.share-button');

  shareButton.addEventListener('click', event => {
    if (navigator.share) { 
     navigator.share({
        title: 'Orientacion Familiar una Guia para el Hogar TV ' +  '<%=  @upload.title %>',
        url: '<%= request.original_url %>' 
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
      } else {

      }
  });

</script>
</body>
</html>
<audio controls="controls">
	<source src= '<%= @upload.url %>' type="audio/mpeg">
	<source src="music.ogg" type="audio/ogg">
</audio>
</html>
