<!DOCTYPE html>
<html >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orientacion</title>

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

<body >
  

 

<div align= "center">
<nav class="navbar navbar-expand-lg navbar-light bg-light " >

  <a class="navbar-brand" href="#"><%= image_tag "banner_burned.png",  class: "icon" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon">

  </span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style = "margin-left: 4%";>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="nav-link" href="#"><%= link_to 'Inicio', root_path %><span class="sr-only">(current)</span></div>
      </li>
      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Mision', home_mision_path %></div>
      </li>

      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Contacto', home_contacto_path %></div>
      </li>
      <li>
       <div class="nav-link" href="#"> <%= link_to 'Articulos de Interes', posts_path %></div>
      </li>
      <li>
       <div class="nav-link" href="#"> <%= link_to 'Cursos', 'https://www.udemy.com/courses/search/?src=ukw&q=padres' %></div>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Radio</a>
          <a class="dropdown-item" href="#">TV</a>
        </div>
      </li>
       <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'Quienes Somos', home_somos_path %></div>
      </li>
      </li>
       <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'TV y Radio', home_radio_path %></div>
      </li>
      
      <li class="nav-item ">
         <% if user_signed_in? %>
         <div class="nav-link " href="#"><%= link_to 'Edit profile', edit_user_registration_path %></div>
        <li class="nav-item "> <div class="nav-link " href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div></li>
        <% if current_user.avatar.attached? %>
        <li class="nav-item "> <%= show_avatar(current_user)  %></li>
        <% else %>
          <li class="nav-item "> <%= image_tag('https://clipartart.com/images/login-background-images-clipart-1.jpg' , :style => 'border-right: 1px solid #000  ; width:60px; height:50px;  border-radius: 30px 30px;' ) %></li>
        <% end %>
        <liclass="nav-item "> Logged in as <strong><%= current_user.email %></strong>.</li>
         <% else %>
        <div class="nav-link " href="#"><%= link_to "Sign up", new_user_registration_path %> 
      </li>
      <li class="nav-item">
         <div class="nav-link " href="#"><%= link_to "Login", new_user_session_path  %></div>
        <% end %>
      </li> 
    </ul>
  </div>

</nav>

</div>
    <div class= "d-flex justify-content-center">
    <div class=  "social-share-button">
    <%= rails_social_share_button_tag('Share to Facebook', url: root_path, desc: "Orientacion Familiar Una Guia Para El Hogar") %>
    </div>
    </div>

  </head>

  <body>

      

<div align= "center">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
</div>
<!-- Footer -->
  <section id="footer" style = "margin-top:20%">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><u><a href="https://www.nationaltransaction.com/">Orientacion Familiar es una 
          institucion registrada bajo la direccion de Dr. Jose Gil y incorporatda en Hazleton PA. </p>
          <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Orientacion Familiar</a></p>
        </div>
        </hr>
      </div>  
    </div>
  </section>

  </body>
</html>


<aside class= 'lx-4 xl-3 c-static-advert-rigth-area'>

</aside>


<script>
setTimeout(function(){
youtube_frame.children[1].childNodes[2].childNodes[3].style.zIndex = 0;
}, 5000);
</script>

