<!DOCTYPE html>
<html >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orientacion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body >
<div align= "center" >
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-expand-lg navbar-light bg-light" >

  <a class="navbar-brand" href="#"><%= image_tag "banner_burned.png",  class: "icon" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon">

  </span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="nav-link" href="#"><%= link_to 'Inicio', home_index_path, style:"font-size:1.4em" %><span class="sr-only">(current)</span></div>
      </li>
      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Mision', home_mision_path, style:"font-size:1.4em" %></div>
      </li>
       <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Audio Podcats', uploads_index_path, style:"font-size:1.4em" %></div>
      </li>
      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Blogs y Articulos', posts_path, style:"font-size:1.4em" %></div>
      </li>

      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Contacto', home_contacto_path, style:"font-size:1.4em" %></div>
      </li>
      <li>
       <div class="nav-link" href="#"> <%= link_to 'Recursos', home_recursos_path, style:"font-size:1.4em" %></div>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Radio</a>
          <a class="dropdown-item" href="#">TV</a>
        </div>
      </li>
       <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'Quienes Somos', home_somos_path, style:"font-size:1.4em" %></div>
      </li>
      </li>
      
       <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'TV', home_radio_path, style:"font-size:1.4em" %></div>
      </li>
      <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'Radio', home_radio_path, style:"font-size:1.4em" %></div>
      </li>
      <li class="nav-item ">
         <% if user_signed_in? %>
         <div class="nav-link " href="#">
          <%= link_to 'Edit profile', edit_user_registration_path, style:"font-size:1.4em" %>
           
         </div>
        <li class="nav-item "> 
          <div class="nav-link " href="#">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, style:"font-size:1.4em" %>
            </div>
          </li>
        <% if current_user.avatar.attached? %>
        <li class="nav-item "> 
          <%= image_tag('https://clipartart.com/images/login-background-images-clipart-1.jpg' , :style => 'border-right: 1px solid #000  ; width:60px; height:50px;  border-radius: 30px 30px;' ) %>
          </li>
        <% else %>
          <li class="nav-item "> <%= image_tag('https://clipartart.com/images/login-background-images-clipart-1.jpg' , :style => 'border-right: 1px solid #000  ; width:60px; height:50px;  border-radius: 30px 30px;') %>
            
          </li>
        <% end %>
        <liclass ="nav-item "> Logged in as <strong><%= current_user.email %></strong>.</li>
         <% else %>
        <div class="nav-link " href="#"><%= link_to "Sign up", new_user_registration_path, style:"font-size:1.4em" %> 
      </li>
      <li class="nav-item">
         <div class="nav-link " href="#"><%= link_to "Login", new_user_session_path, style:"font-size:1.4em"  %></div>

        <% end %>
   
     
    </ul>
 
  </div>

</nav>

</div>


  </head>

  <body>
<div align= "center" style= "background:rgb(34, 102, 102)">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
</div>
</body>

<div class="container col-xs-12 col-sm-12 col-md-12" style= "background:rgb(34,102, 102); color:white">
<!-- Footer -->
  <section class= "" id="footer" style= "background:rgb(34,102, 102)" >
    <div class="container ">
      <div class="row text-center text-xs-center text-sm-left text-md-left "  style= "background:rgb(34,102, 102)">
        <div class="col-xs-4 col-sm-4 col-md-4  ">
          <h5>Visitanos en Youtube</h5>
          <ul class=" quick-links">
            <li ><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Inicio' , root_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Mision', home_mision_path , class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'TV y Radio', home_radio_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Audio Podcats', uploads_index_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Quienes Somos', home_somos_path, class:"text-footer" %></a></li>
          </ul>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h5>Revisa nuestra programacion</h5>
          <ul class=" quick-links">
            <li ><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Inicio' , root_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Mision', home_mision_path , class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'TV y Radio', home_radio_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Audio Podcats', uploads_index_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Quienes Somos', home_somos_path, class:"text-footer" %></a></li>
          </ul>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h5>Conocenos !</h5>
          <ul class=" quick-links">
            <li ><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Inicio' , root_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Mision', home_mision_path , class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'TV y Radio', home_radio_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Audio Podcats', uploads_index_path, class:"text-footer" %></a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i><%= link_to 'Quienes Somos', home_somos_path, class:"text-footer" %></a></li>
          </ul>
        </div>
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center" >
          <p><u><a class="text-footer" href="https://www.nationaltransaction.com/">Orientacion Familiar es una 
          institucion registrada bajo la direccion general del Dr. Jose Gil Abreu e incorporada en Hazleton Pensylvannia Estados Unidos. </p>
          <p class="h6">&copy All rights Reserved.<a class="text-green ml-2 text-footer" href="https://www.sunlimetech.com" target="_blank">Orientacion Familiar Una Guia Para El Hogar</a></p>
        </div>
        </hr>
      </div>  
    </div>
  </section>

  </body>
</html>



<script>
setTimeout(function(){
youtube_frame.children[1].childNodes[3].childNodes[3].style.zIndex = 0;
}, 5000);
</script>

