<!DOCTYPE html>
<html >
  <head>
    <title>Orientacion</title>

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<body >

 

<div align= "center">
<nav class="navbar navbar-expand-lg navbar-light bg-light " >

  <a class="navbar-brand" href="#"><%= image_tag "banner_burned.png",  class: "icon" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon">

  </span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" style = "margin-left: 8%";>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="nav-link" href="#"><%= link_to 'Inicio', root_path %><span class="sr-only">(current)</span></div>
      </li>
      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Mision', home_mision_path %></div>
      </li>

      <li class="nav-item">
        <div class="nav-link" href="#"><%= link_to 'Contacto', home_contacto_path %></div>
      </li>
      <li>
       <div class="nav-link" href="#"> <%= link_to 'Articulos de Recursos', posts_path %></div>
      </li>
      <li>
       <div class="nav-link" href="#"> <%= link_to 'Cursos', 'https://www.udemy.com/courses/search/?src=ukw&q=padres' %></div>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Radio</a>
          <a class="dropdown-item" href="#">TV</a>
        </div>
      </li>
       <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'Quienes Somos', home_somos_path %></div>
      </li>
      </li>
       <li class="nav-item">
        <div class="nav-link " href="#"><%= link_to 'TV y Radio', home_radio_path %></div>
      </li>
      
     
    </ul>
 
  </div>

</nav>

</div>


  </head>

  <body>

      

  <div align= "center">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
    


